@page
@model Aparteman.Pages.errors._404Model
@{
    ViewData["title"] = "این صفحه پیدا نشد";
}

<div class="container" style="text-align: center;  color: #888;">
    <p class="font-48">این صفحه پیدا نشد</p>
    <img src="/images/error_404.gif" />
    <p>دقت کنید که آیا آدرس را درست نوشته اید؟.</p>
    <p class="text-danger">برای ورود به فرمهای داخلی سایت از منوبارها استفاده  کنید.</p>
@*     <a href="javascript:window.history.back();" class="BTN btn_Normal btn_Blue2 w-fix-100">بازگشت </a> *@
</div>