@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutLogin";
}



<div class="alert alert-secondary text-center">
    <a href="/Login" class="BTN btn_Normal w-fix-200 btn_Blue2 ">ورود به سیستم</a>
    <hr />
    <a href="/Register" class="BTN btn_Normal w-fix-200 btn_Blue2 ">ثبت نام مجتمع</a>
</div>
